* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.App {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  height: 100vh;
}

.app__container {
  width: 100%;
  height: 100vh;
}

.App-link {
  color: #61dafb;
}


@media screen and (max-width: 991px) {

  .app__layout-container {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 70px 1fr 50px;
    grid-template-areas:
      'header'
      'main'
      'footer';
    height: 100vh;
  }

  .app__sideBar {
    position: absolute;
  }


  .sidebar__open {
    left: 0;
  }

  .app__header, .app__container {
    width: 100vw;
  }


  
}

.margin-up {
  margin-top: 40px;
}
@media screen and (max-width: 700px) {
  
}


.answer-checked::after {
 
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    top: 0;
    left: 0;
    border: 1px solid #3fc1c9;
  
}